@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans), sans-serif;
}
/* Default pagination dots */
.swiper-pagination-bullet {
  background-color:  rgba(0, 128, 0, 0.678) !important; /* Inactive state */
  width: 8px;
  height: 8px;
  opacity: 1;
  border-radius: 50%; /* Fully rounded */
 
}

/* Active pagination dot */
.swiper-pagination-bullet-active {
  background-color: red !important; /* Fully highlighted active dot */
  width: 8px; /* Slightly bigger */
  height: 8px;
  
}
